* {
  margin: 0;
}
a {
  text-decoration: none;
  color: #08C;
}

main > a {
  width: 100%;
  display: flex;
}

a.normal:hover {
  text-decoration: underline;
}

ul > li {
  list-style: none;
  display: inline;
}

.container {
  display: flex;
  flex-direction: column;
}

.your-verse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px red solid;
  background: url("../imgs/your_verse_hero.jpg") 50% 100% no-repeat;
}



.promo-container {
  display: flex;
  flex-wrap: wrap;
}

.promo-container > * {
  flex: 1 1 320px; 
}

.promo-container img{
  width: 100%;
}

footer p:nth-child(2), footer ul {
  display: inline;
}
